.headerBackground {
  background: linear-gradient(to right,  #FF6F91, #FF9671, #FFC75F, #F9F871);
  height: 40vh;
  width: 100vw;
  z-index: -5;
  position: absolute;
  top: 0;
  left: 0;
}

.h1 {
  color: white;
  margin-top: 0;
  padding-top: 5vh;
  text-align: center;
}

.form {
  width: 30vw;
  margin: 0 auto;
}

.form input,
.form button {
  height: 40px;
  border: none;
  box-shadow: 0 0 8px 1px rgba(0, 0, 0, 0.2);
}

.form input {
  width: 80%;
  max-width: 450px;
  padding: 0 20px;
  border-radius: 25px 0 0 25px;
}

.form button {
  background-color: #845EC2;
  vertical-align: top;
  border-radius: 0 25px 25px 0;
}

.form button img {
  width: 30px;
}

.form button:hover {
  cursor: pointer;
}

.cityInfo {
  width: 60vw;
  color: white;
  margin: 2vh auto;
  margin-top: 5vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.cityInfo h2,
.cityInfo p {
  margin: 0;
}

.toggle {
  -webkit-appearance: none;
  appearance: none;
  width: 62px;
  height: 32px;
  display: inline-block;
  position: relative;
  border-radius: 50px;
  overflow: hidden;
  outline: none;
  border: none;
  cursor: pointer;
  background-color: #C0C0C0;
  transition: background-color ease 0.3s;
}

.toggle:before {
  content: "\2103 \2109";
  display: block;
  position: absolute;
  z-index: 2;
  width: 28px;
  height: 28px;
  background-color: #fff;
  left: 2px;
  top: 2px;
  border-radius: 50%;
  font: 10px/28px Helvetica;
  /* text-transform: uppercase; */
  font-weight: bold;
  text-indent: -22px;
  word-spacing: 45px;
  color: #fff;
  /* text-shadow: -1px -1px rgba(0,0,0,0.15); */
  white-space: nowrap;
  /* box-shadow: 0 1px 2px rgba(0,0,0,0.2); */
  transition: all cubic-bezier(0.3, 1.5, 0.7, 1) 0.3s;
}

.toggle:checked {
  background-color: #808080;
}

.toggle:checked:before {
  left: 32px;
}
